[Unit]
Description=dummy unit 5
Requisite=dependency-test-4.service

[Service]
ExecStart="C:\Users\Admin\source\repos\DummyUnit\DummyUnit\bin\Debug\DummyUnit.exe test-5"

[Install]
