[Unit]
Description=Notepad
After=network.target \ # multiline test
	  auditd.service   # comment test

[Service]
ExecStart=notepad.exe
KillMode=process
Restart=on-failure
RestartPreventExitStatus=255
Type=simple

[Install]
WantedBy=multi-user.target
Alias=sshd.service